<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://www.dowjones.com/careers/" class="button party-blue">Careers at Dow Jones</a>
		</div>

		<div class="license">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/DowJones">@DowJones</a>.</p>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://www.dowjones.com" class="logo-link">Dow Jones</a>
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li><a href="https://www.dowjones.com">10up.com</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://www.dowjones.com" class="twitter"><span class="screen-reader-text">Twitter: @DowJones</span></a>
				<a href="https://www.dowjones.com" class="github"><span class="screen-reader-text">Github</span></a>
			</div>
		</nav>
	</div>
</footer>
